/*body{ background: none;}*/
.timeline{position: absolute;bottom: 5px;left:15px;width: 100%;height: 60px; left: 0px;background: rgba(0,0,0,.36);}
.progress{position:relative;top:10px; left: 2%; z-index:7;margin: 0 auto; width: 88%; border-radius:10px;height: 17px; border: 1px solid #fff;margin-top: 3px;}
ul{list-style: none;}

.progress-bar{z-index:8;width: 100%;height: 100%; transition: none; -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1); box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1); border-radius:15px; background: #0e4597; border: none !important;}

.progress-bar:before, .progress-bar:after { content: ''; position: absolute; top: 0; left: 0; right: 0;}
.progress-bar:before { bottom: 0; border-radius: 4px 4px 4px 4px;}

/*
.marker-container{z-index:10;width: 90%;height:24px;position: absolute;top:7px;left:5%;margin-left:-12px;}
.marker{width:24px;height:24px;background: url(../images/1.png) right no-repeat;cursor: move;margin-left:100%;}
*/
.marker{z-index:10;width:20px;height:20px;background: url(../images/2.png) right no-repeat;background-size:100%;cursor: move;position: absolute;top:11px; left: 88px;}

.timeline-scale-container{z-index: 9;position: absolute;top:0px;width: 100%;}

.timeline-scale {
    padding: 0;
    list-style: none;
    background-repeat: repeat-x;
    margin: 0 auto; 
    width: 96%;
    /*margin-left: 10px !important;*/
    margin-top: 3px;
}

.timeline-scale li {
    font-family:Arial, "Microsoft YaHei", 微软雅黑, "WenQuanYi Micro Hei", 文泉驿微米黑, STXihei, 华文细黑, sans-serif;
    display: inline-block;
    width: 4.15% !important;
    margin: 0;
    padding: 1.3rem 0 0 0;
    list-style: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size:13px;
    *display: inline;
    *zoom: 1
}
@media only screen and (min-width: 1920px) {
	.timeline-scale li {padding: 1rem 0 0 0;}
}
.time-player {
    z-index: 12;
    position: absolute;
    top: 8px;
    left: 3.5%;
}
.time-player span{
    display: inline-block;
    width: 33px;
    height: 33px;
    cursor: pointer;
    background: url(../images/play2.png)  no-repeat;
    background-size: 100%;

}
/*.time-player-play{
    background: url(../images/stop.png)  no-repeat !important;
    background-size: 100% !important;
}*/
.time-player-stop{
    background: url(../images/stop2.png)  no-repeat !important;
    background-size: 100% !important;
}
